<p>mypipes works!</p>
<div>{{msg | uppercase}}</div>
<div>{{msg | lowercase}}</div>
<div>{{msg | titlecase}}</div>
<div>{{msg | slice:5}}</div>
<div>{{msg | slice:5:20}}</div>

<div>{{0.567 | number}}</div>
<div>{{0.567 | number:'3.3-5'}}</div>
<div>{{0.567 | number:'3.4-5'}}</div>
<div>{{0.567 | number:'3.1-2'}}</div>
<div>{{0.567 | number:'3.2'}}</div>

<div>{{emp | json}}</div>

<div>{{100 | currency}}</div>
<div>{{100 | currency:"GBP"}}</div>
<div>{{100 | currency:"INR"}}</div>

<div>{{dateObj | date}}</div>
<div>{{dateObj | date:'shortDate'}}</div>
<div>{{dateObj | date:'longDate'}}</div>
<div>{{dateObj | date:'HH:mm:ss'}}</div>

<div>{{3 | cube}}</div>
<div>{{3 | square}}</div>

