<p>nav works!</p>
<nav>
    <a href="" routerLink="parent" class="btn btn-primary btn-sm">parent component</a>&nbsp;
    <a href="" routerLink="databinding" class="btn btn-primary btn-sm">data component</a>&nbsp;
    <a href="" routerLink="angform" class="btn btn-primary btn-sm">angform component</a>&nbsp;
    <a href="" routerLink="productdash" class="btn btn-primary btn-sm">productdash component</a>&nbsp;
    <a href="" routerLink="productadd" class="btn btn-primary btn-sm">productadd  component</a>&nbsp;
    <a href="" routerLink="productedd" class="btn btn-primary btn-sm">productedd  component</a>&nbsp;
</nav>
